*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Pseudoclase de css para la etiqueta HTML*/
:root{
    --bg-color: rgb(27, 25, 25);
    --primary-color: #3E065F;
    --secondary-color: #700B97;
    --third-color:#8E05C2;
    --bg-input-color:rgba(255,255,255,0.1);

}

body{
    background-color: var(--bg-color);
    font-family: 'Kanit',sans-serif;
}

h2{
    color:#fff;
    font-size: 2vw;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    background-color: #62828f;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.titles {
    font-family: "Oregano", cursive;
    font-weight: 700;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 60px;
}

#logo{
    font-weight: bold;
}

#logo a{
    color:#fff;
}

.nav-links{
    display: flex;
    list-style: none;
    gap:25px;
}

.nav-links li > a{
    color:#FFF;
    text-decoration: none;
}

.nav-links a:hover{
    color:black;
}

.menu-toggle{
    display: none;
}


.menu-toggle-icon{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.mobile-nav{
    display:none;
    flex-direction: column;
    background-color: #62828f;
    width: 100%;
    position: absolute;
    left: 0;
    top:60px;
    text-align: center;
}

.mobile-nav li{
    padding: 10px;
}

.menu-toggle:checked~.mobile-nav{
    display: flex;
}




#banner{
    background-image: url('../img/banner-bg.webp');
    background-size: cover;
    background-position: center;
    height: 75vh;
    box-shadow: inset 0 0 0 2000px rgba(84,84,84,0.5);
}



.d-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner-card{
    text-align: center;
    padding: 0px 160px;
    animation: appear 5s ease forwards;
    opacity: 0;
}

@keyframes appear{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.banner-card h1{
    color:#fff;
    font-size: 4vw;
}
.banner-card h2{
    margin-bottom: 20px;
}

#search{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-title{
    color: white;
    font-size: 3vw;
}

.input-search{
background-color: rgba(255,255,255,0.1);
border: 2px solid white;
border-radius: 25px;
color: white;
font-size: 16px;
height: 50px;
margin: 20px 0px;
outline: none;
padding: 0px 20px;
width: 70%;
font-family: 'Kanit', sans-serif;


} 

#proximas h2, #top-rated, #search{
    text-align: center;
}

#proximas h2, #top-rated h2{
   margin: 30px 0px;
}

.btn-cac{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
   
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.fiestas-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: repeat(2,1fr);
    justify-items: center;
    row-gap: 20px;
}

.fiesta-item{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 300px;
    display: inline-block;
    cursor: pointer;
    transition: all 500ms;

    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.fiesta-item:hover{
    transform: scale(1.1);
}


.fiesta-item-img{
    width: 200px;
    height: 300px;
}

.fiestas-scroller{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
   
}

.fiesta-item-v2{
    border-radius: 20px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    margin-left: 30px;
    justify-content: space-between;
    flex-direction: column;
    transition: all 500ms;
    transform-origin: center left;
}

.fiesta-item-img-v2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper{
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    width: 100%;
    min-height: calc(150px*1.5);
    height: calc(150px*1.5);
    overflow: hidden;
}


.fiesta-item-detail-v2{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fiesta-item-detail-title-v2{
    color: white;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.fiesta-item-detail-subtitle-v2{
    color: white;
    font-size: 12px;
    margin: 3px 0px;
}



footer{
    background-color: #62828f;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover{
    color: blue;
}

.social-icons{
    margin: 20px 0;
}

/*Diseño Responsive
Menu Hamburguesa*/

@media (max-width: 1000px){

    .desktop-nav{
        display: none;
    }

    .menu-toggle-icon{
        display:block;
    }
}

/*Tablets*/

@media screen and (min-width: 760px) and (max-width: 1000px){
    h2{
        font-size: 3.5vw;
    }

    .fiestas-grid{
        grid-template-columns: repeat(2,1fr);
        grid-row: repeat(4,1fr);
    }

}

/*Celulares*/

@media screen and (max-width: 760px) {
    h2{
        font-size: 3vw;
    }

    .fiestas-grid{
        grid-template-columns: repeat(1,1fr);
        
    }

}

.cuadrado {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    left: 15px;
    color: white;
    top: 0;
    padding: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: var(--secondary-color);
    z-index: 4;
}

.day {
    font-size: 15px !important;
    font-weight: 700;
    display: block;
    margin: 0 0 5px;
    z-index: 4;
}

.month {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 5px;
    z-index: 4;
}

#scrollToTopButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}





