*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pseudoclase de css para la etiqueta HTML */
:root {
    --bg-color: rgb(27,25,25);
    --primary-color: #b1dd00;
    --secondary-color: #143954;
    --third-color: #62828f;
    --bg-input-color: rgba(255,255,255,0.1);
}

body{
    background-color: var(--bg-color);
    font-family: "Nunito Sans", sans-serif;
}

h2{
    color: white;
    font-size: 22px;
}

.header{
    width: 100%;
    background-color: #62828f;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 60px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu-toggle{
    display: none;
}

.menu-toggle-icon{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.mobile-nav{
    display: none;
    flex-direction: column;
    background-color: #62828f;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
}

.mobile-nav li{
    padding: 10px;
}

.menu-toggle:checked~.mobile-nav{
    display: flex;
}

@media(max-width: 760px){

    .desktop-nav{
        display: none;
    }

    .menu-toggle-icon{
        display: block;
    }
}

#banner{
    background-image: url('../img/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

section{
    background-color: orange;
}

.banner-css{
    background-color: var(--bg-color);
}

.banner-card{
    text-align: center;
    padding: 0px 160px;
}

.banner-card h1{
    color: #fff;
    font-size: 4vw;
}

.banner-card h2{
    margin-bottom: 20px;
}

.btn-cac{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.fiesta-item-img{
    width: 150px;
}

.fiestas-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}

footer a{
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover{
    color: blue;
}

.social-icons{
    margin: 20px 0;
}