<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/navbar.css">
    <link rel="stylesheet" href="./static/css/footer.css">
    <script src="https://kit.fontawesome.com/8087ddc12b.js" crossorigin="anonymous"></script>
    <title>Fiestas aMil</title>

</head>

<body>

    <header class="header">
        <nav class="navbar">
            <img class="burguer" alt="burguer" id="burguer"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAPhJREFUaEPtmMEOhDAIRPXMT+9Pc96N2ZNx3WAgUNrn2TrMPFrRfVvs2hfzu2F4duIQhvBkCdDSkwG92IEwhCdLgJaeDCiHlrmlVfU9Mn0RMXkx3XQYxfBguCF8A4SWHqxTw8sxEw5XLnoghouCT5OFcFrURUIQvgteVV9FUEyyImKqz0yYWdqUe95NzNLM0t8Enuxh06GQ18RnpfBDq8pItK6ZcLRw1fMwXJV8li6Es5Ku0oHwn48HfsRXteUvXWZpZunns/Rae3ik/eqphdeSJ70OayHcgZKnRgh70uuwFsIdKHlqhLAnvQ5rIdyBkqdGCHvS67D2A2vaQD0pdMqEAAAAAElFTkSuQmCC">
            <div class="label">
                <div class="logo">
                    <a class="logo-anchor" href="./index.html">
                        <i class="size-20 fa-solid fa-champagne-glasses"></i>
                    </a>
                    <div class="logo-span">Fiestas aMil</div>
                </div>
                <div class="opts hide" id="opts">
                    <a class="link" href="./index.html">INICIO</a>
                    <a class="link" href="./register.html">REGISTRO</a>
                    <a class="link" href="#">CARRITO</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section id="banner" class="d-flex">
            <div class="banner-card container">
                <h1 class="titles">BIENVENIDXS A FIESTAS aMIL</h1> <br>
                <h2 class="titles">¡TU SITIO FAVORITO DE FIESTAS!</h2>
                <a href="register.html" class="btn-cac"> Registrate</a>
            </div>
        </section>
        <section id="search">
            <h2>¿Qué fiesta estás buscando para asistir?</h2>
            <input type="text" class="input-search" id="input-search" placeholder="Buscar...">
        </section>

        <section id="proximas" class="container">
            <h2 class="h2-subtitle">Próximas Fiestas</h2>
            <div id="events" class="fiestas-grid">
                {% for evento in eventos %}
                <div class="fiesta-item" id="{{evento[0]}}">
                    <a href="./details.html?id={{evento[0]}}" >
                        <img src="{{evento[12]}}" alt="{{evento[9]}}" height="224px" class="fiesta-item-img">
                        <div class="cuadrado"><span class="day">{{evento[1]}}</span><span class="month">{{evento[2]}}</span></div>
                        <div class="rectangulo"><span class="day">{{evento[9]}}</span></div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="top-rated">
            <div class="container">
                <h2>Lxs artistas más aclamadxs</h2>
                <div id="top" class="fiestas-scroller">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Nuestras redes sociales:</p>
        <div class="social-icons">
            <a class="icons" href="http://www.facebook.com/" target="_blank"> <i class="fab fa-facebook-f"></i></a>
            <a class="icons" href="http://www.twitter.com/" target="_blank"> <i class="fab fa-twitter"></i></a>
            <a class="icons" href="http://www.instagram.com/" target="_blank"> <i class="fab fa-instagram"></i></a>
            <a class="icons" href="http://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="links-buttons">
            <a class="links" href="">Términos y condiciones</a>
            <a class="links" href="">Preguntas Frecuentes</a>
            <a class="links" href="">Ayuda</a>
            <a class="links" href=""><i class="fas fa-question-circle"></i></a>
        </div>
    </footer>
    <button id="scrollToTopButton">&#9650;</button>
    <script src="https://kit.fontawesome.com/8087ddc12b.js" crossorigin="anonymous"></script>
    <script src="./static/js/navbar.js"></script>
    {% comment %} <script src="{{url_for('static', filename='js/navbar.js')}}"></script> {% endcomment %}
    {% comment %} <script src="{{url_for('static', filename='js/index.js')}}"></script> {% endcomment %}
</body>

</html>